[submodule "ext/rtl/scr1"]
	path = ext/rtl/scr1/repo
	url = https://github.com/syntacore/scr1.git
[submodule "ext/rtl/pulp/axi"]
	path = ext/rtl/pulp/axi
	url = https://github.com/pulp-platform/axi.git
[submodule "ext/rtl/pulp/apb"]
	path = ext/rtl/pulp/apb
	url = https://github.com/pulp-platform/apb.git
[submodule "ext/rtl/pulp-c910/repo"]
	path = ext/rtl/pulp-c910/repo
	url = https://github.com/pulp-platform/pulp-c910.git
[submodule "ext/rtl/pulp/common_cells"]
	path = ext/rtl/pulp/common_cells
	url = https://github.com/pulp-platform/common_cells.git
[submodule "ext/rtl/pulp/tech_cells_generic"]
	path = ext/rtl/pulp/tech_cells_generic
	url = https://github.com/pulp-platform/tech_cells_generic.git
[submodule "ext/qemu/repo"]
	path = ext/qemu/repo
	url = https://gitlab.com/qemu-project/qemu.git
