/.jitcpu-linux-initramfs
/jitcpu-smoke
/jitcpu-switch
/jitcpu-repeated-switch
/jitcpu-smp-repeated-switch
/jitcpu-smp-wfi-repeated-switch
/jitcpu-smp8-repeated-switch
/jitcpu-mesh16-repeated-switch
/jitcpu-mesh16-wfi-repeated-switch
/jitcpu-16core-mesh-switch
/jitcpu-linux-init
/jitcpu-linux-init.cpio
/jitcpu-linux-smp-init
/jitcpu-linux-smp-init.cpio
/jitcpu-dining-philosophers
/jitcpu-dining-philosophers.cpio
/jitcpu-dining-philosophers-repeated
/jitcpu-dining-philosophers-repeated.cpio
